bin/
pkg/
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out
coverage.*
*.coverprofile
profile.cov

vendor/
*.history/
*.vscode/
go.work
go.work.sum

**/groups.json
credentials.json
token.json
.env
.env.local
**/sqlite3.db
schema.sql
.null-ls*